@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Space+Grotesk:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

body {
  position: relative;
}

#tasks {
  display: flex;
  flex-direction: column;
}

#tasks p {
  margin-bottom: 0px;
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 8px;
}

.task-editing {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  flex-direction: column !important;
  justify-content: center !important;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1em);
  border-radius: 3px;
  box-shadow: none;
  transform: translate(-50%, -50%);
}

.task-editing #task-input {
  width: clamp(50vw, 55vw, 60vw) !important;
  padding: 1em;
  line-height: 2em;
  display: block !important;
  box-shadow: none !important;
  margin-bottom: 2em;
  text-align: center;
}

.task-editing #task__name {
  color: #fff;
}

.task-editing :is(.is__completed, .delete) {
  display: none !important;
}

.task-editing .edit {
  position: relative;
  font-size: 1.4em;
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}

.task-editing .edit::after {
  content: "Edit Task";
  position: absolute;
  top: 4em;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  transform: translate(-50%, -50%);
}

.save-edited-todo {
  position: absolute;
  left: -100%;
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.listed {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.error {
  margin-top: 10px;
  animation: error 0.5s linear forwards;
}

#refresh {
  cursor: pointer;
  transform: scale(0.9);
  transition: 0.3s ease-in-out;
}

#refresh:hover {
  transform: scale(1);
  transform: rotate(90deg);
}

.clear__all {
  width: 30%;
  display: block;
  margin: 0 auto;
}

@keyframes error {
  0% {
    opacity: 0;
  }

  80% {
    transform: scale(1.08);
    opacity: 1;
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 765px) {
  form {
    width: 100% !important;
  }

  form > * {
    display: block !important;
  }
}

@media screen and (max-width: 450px) {
  form {
    flex-direction: column;
  }

  form div {
    justify-content: space-evenly;
  }

  #create-task,
  #search-task {
    width: 40%;
    display: inline !important;
    margin: 0.5em 0 0.2em !important;
  }
}

.circle {
  width: 50%;
  height: 70%;
  position: absolute;
  background: #3866f2;
  border-radius: 0 0 100% 0;
}

.form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.877);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 1s;
}
.form:hover {
  transform: scale(1.02);
  transition: 1s;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.form__group {
  position: relative;
  color: #5757577e;
}
.form__input {
  width: 100%;
  background: none;
  --color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Roboto", sans-serif;
}
.form__input:not(:placeholder-shown) {
  color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
.form__label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form__submit {
  background: #3866f2;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
.form__line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line {
  transform: scale(1);
}
@media (max-width: 425px) {
  .form__title {
    font-size: 1.8rem;
  }
}
